@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*:root {
    --header-height: 3rem;
    --font-semi: 600;
    --first-color: #4070f4;
    --second-color: #0e2431;
    --body-font: "Montserrat", sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

*,::before,::after{
    box-sizing: border-box;
}
*/

html {
    scroll-behavior: smooth;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: #24252a;
}

h1,h2,p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Navigation Bar */
li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}

.nav_menu {
    position: fixed;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.nav_links li a:hover {
    color: #35caf0
}

.nav_links li a.active {
    color: #35caf0
}

/* Home */
